body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin: 20px 20px 10px 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #2a692c;
    color: white;
}

tr:hover {
    background-color: #555;
}